{% extends "base.html" %}

{% block content %}

    <div><a href="/adsb">ADSB Dispatcher</a></div>
    <hr>
    <h1>AIS Dispatcher</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.ais_host_ip.label }}&nbsp;
            {{ form.ais_host_ip }}
        </p>
        <p>
            {{ form.ais_port.label }}&nbsp;
            {{ form.ais_port }}
        </p>
        <p>
            {{ form.data_max.label }}&nbsp;
            {{ form.data_max }}
        </p>
        <p>
            {{ form.dispatch_interval.label }}&nbsp;
            {{ form.dispatch_interval }}
        </p>
        <p>
            {{ form.remote_server_address.label }}&nbsp;
            {{ form.remote_server_address }}
        </p>
        <p>
            {{ form.remote_server_user.label }}&nbsp;
            {{ form.remote_server_user }}
        </p>
        <p>
            {{ form.remote_server_password.label }}&nbsp;
            {{ form.remote_server_password }}
        </p>
        <p>{{ form.start_dispatch() }}</p>
    </form>
{% endblock %}